@import "variables";

:host {
    height: 50px;
    display: block;
}

nav {
    background: white;
    box-shadow: 3px 9px 10px 0px #e4e4e4;
    position: fixed;
    height: 50px;
    z-index: 1;
    width: 100%;
    
    .nav-item {
        display: inline-block;
        padding: 10px;
        height: 30px;
        vertical-align: top;
        cursor: pointer;

        label {
            vertical-align: top;
            line-height: 30px;
            margin-left: 10px;

            @media (max-width: $breakpoint-mobile) {
                display: none;
            }
        }
    }

    .centered {
        width: 250px;
        margin: auto;
        display: block;

        @media (max-width: $breakpoint-mobile) {
            width: 170px;
        }
    }
}
