<nav>
    <div class="nav-item" style="float:left">
        <app-img-upload (onFinish)="addUploadedImages($event)">
            <img src="assets/img/addImage.png"> <label> Add images</label>
        </app-img-upload>
    </div>

    <div class="nav-item" style="float:right;" (click)="exportImages()">
        <label class="ci-text" style="margin-right: 10px;"> Export</label>
        <img style="width: 24px;" src="assets/img/download.png">
    </div>

    <div class="nav-item centered">

        <app-selection></app-selection>
    </div>
</nav>