@import "variables";

nav {
    background: white;

    .nav-item {
        display: inline-block;
        padding: 10px;
        height: 30px;
        vertical-align: top;
        cursor: pointer;

        label {
            vertical-align: top;
            line-height: 30px;
            margin-left: 10px;

            @media (max-width: $breakpoint-mobile) {
                display: none;
            }
        }
    }

    .centered {
        width: 250px;
        margin: auto;
        display: block;

        @media (max-width: $breakpoint-mobile) {
            width: 170px;
        }
    }
}
