<div class="menu-container">
    <label class="menu-header" translate>
        Formats
    </label>

    <div style="display: flex;">
        <ul class="main-menu">
            <li *ngFor="let provider of providers$ | async" (click)="selectProvider(provider)"
                [class.active]="selectedProvider == provider">
                <img src="assets/providers/{{provider}}/icon.svg" />
                <label> {{provider}} </label>
            </li>
        </ul>

        <ng-container *ngIf="selectedProvider">
            <ul class="second-level-menu fadeInLeft">
                <li *ngFor="let format of getFormats()" (click)="selectFormat(format)">
                    <div>
                        <img src="assets/providers/{{selectedProvider}}/img/{{format.name}}.jpg" />
                        <label>{{format.name}} </label>
                    </div>
                </li>
            </ul>
        </ng-container>
    </div>

</div>