.selectBox {
    padding: 5px;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;

    .dropdown-icon {
        display: inline-block;
        width: 24px;
    }

    p {
        margin: 0px;
        padding-right: 15px;

        span {
            vertical-align: super;
        }
    }

    @media only screen and (max-width: 600px) {
        width: 170px;
        line-height: 0px;
        
        p {
            font-size: 13px;

            span {
                vertical-align: text-top;
            }
        }
    }
}

:host {
    display: block;
    position: relative;
}

.option-box {
    max-height: 400px;
    position: fixed;
    z-index: 10;
    width: 100%;
    background: white;
    box-shadow: 1px 1px 3px 0px #b6b6b6;
    text-align: left;
    z-index: 100;
    overflow: auto;
    width: 250px;

    .option-item {
        padding: 11px 13px;
        cursor: pointer;
        border-bottom: 1px solid #f7f7f7;

        &:hover {
            background: #f0f0f0;
        }

        img {
            width: 42px;
            height: 42px;
            margin: 5px;
            border-radius: 2px;
            margin-right: 10px;
            vertical-align: middle;
        }
    }

    @media only screen and (max-width: 600px) {
        left: 0px;
        position: fixed;
        top: 0px;
        max-height: 100%;
        width: 100% !important;
        margin-left: -0px;
    }
}
