<ng-container *ngIf="showOptions">
    <div class="option-box fadeInDown">
        <div *ngFor="let image of images$|async" (click)="select(image)" class="option-item">
            <img [src]="image.source" />
            {{image.name}}
        </div>
    </div>
</ng-container>

<div #selectbox class="selectBox " (click)="showOptions=true;">
    <p *ngIf="selected$ | async as selected">
        <span>{{selected.name}} </span>
        <img class="dropdown-icon" src="assets/img/dropdown.svg" />
    </p>
</div>