@import "variables";

h3 {
    margin-top: 0px;
    color: #ababab;
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;

    &:before,
    &:after {
        content: "";
        border-top: 2px solid #cecece;
        margin: 0 20px 0 0;
        flex: 1 0 20px;
    }

    &:after {
        margin: 0 0 0 20px;
    }
}

:host {
    width: 100%;
    display: block;
    background: #dedede;
    padding-left: 55px;
    padding-top: 25px;
    padding-right: 15px;

    @media (min-width: $breakpoint-medium) {
        flex: 1;
        height: calc(100vh - 75px);
    }
}
