@import 'variables';

.left-frame {
    position: fixed;
    left: 0px;
    z-index: 2;
}

.editor-frame {
    padding-top: 25px;
    padding-left: 74px;
    overflow: hidden;

    @media (max-width: $breakpoint-mobile) {
        padding-top: 5px;
        padding-left: 45px;
        height: 100%;
        padding-right: 10px;
    }
}
