@import "variables";

.left-frame {
    position: fixed;
    left: 0px;
    z-index: 2;
    box-shadow: 3px 9px 10px 0px #e4e4e4;
    height: 100%;
    background: white;
}

.container {
    display: flex;
    flex-flow: wrap;
}
