<style>
    .header-prev {
        max-width: 940px;
        position: relative;
        margin: auto;
        max-height: 350px;
        min-height: 200px;
    }

    .header-prev-content {
        padding-bottom: 45%;
    }

    #CoverPicture {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0px;
        left: 0px;
        border-radius: 10px;
    }

    .prev-pic-container {
        position: absolute;
        bottom: -25%;
        text-align: center;
        width: 100%;
    }

    .prev-pic-container img {
        border: 2px solid white;
        width: 138px;
        height: 138px;
        border-radius: 50%;
    }

    .prev-name {
        margin-top: 50px;
        text-align: center;
    }


    @media only screen and (min-width: 600px) {

        .prev-pic-container {
            bottom: -11%;
        }

        .prev-pic-container img {
            border: 4px solid white;
            width: 168px;
            height: 168px;
        }
    }
</style>

<div class="header-prev">
    <div class="header-prev-content">
        <img id="CoverPicture"
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mPUuPr/PwAGJgL9mdv/dgAAAABJRU5ErkJggg==" />

        <div class="prev-pic-container">
            <img
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mOc+h8AAi8BltbblRQAAAAASUVORK5CYII=" />
        </div>
    </div>
</div>

<div class="prev-name">
    <h1>
        Otto Totti
    </h1>
</div>