<style>
    .prev-content {
        width: 100%;
        max-width: 500px;
        height: 260px;
        margin: auto;
    }

    .prev-img {
        width: 100%;
        max-width: 500px;
        max-height: 210px;
    }

    .prev-description {
        padding: 10px;
        background-color: #f0f2f5;
        border: 1px solid #cccccc;
        margin-top: -4px;
    }

    @media only screen and (min-width: 600px) {
        .prev-img {
            max-height: 260px;
        }
    }
</style>
<div class="prev-content">

    <img class="prev-img" id="SharedLink"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mPUuPr/PwAGJgL9mdv/dgAAAABJRU5ErkJggg==" />

    <div class="prev-description">
        <label style="font-size:15px; color: #959596;">Website.com</label>
        <div style="color:black;font-size:18px"> Lorem Ipsum has been the industry's standard dummy </div>
        <div style="color:gray; font-size:13px;">Description Lorem Ipsum has been the industry's standard... </div>
    </div>
</div>