.container {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;

    img {
        max-width: 256px;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 5px 12px 20px 1px #f5f0f0;
    }
}
