.container{
    text-align: center;
    margin-top: 10rem;

    img{
        max-width: 256px;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 5px 12px 20px 1px #f5f0f0;
    }
}