@import "variables";

.modal-content {
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;

  p {
    width: 100%;
    font-size: 12px;
  }

  .loading-text {
    font-size: 14px;
    text-align: center;
  }

  .success-text {
    font-size: 20px;
    text-align: center;
    color: $success-color;
  }

  .error-text {
    font-size: 30px;
    text-align: center;
    color: $error-color;
  }

  .preview-item {
    max-width: 256px;
    min-width: 64px;
    padding: 10px;
    flex: 1;
    word-break: break-word;
    margin: auto;

    img {
      width: 100%;
    }
  }

  button {
    width: 100px;
    margin: auto;
  }
}
