@import "modal";
@import "animations";
@import "variables";

:root {
    --cropper-overlay-color: $bg-color;
}

body {
    font-family: sans-serif;
    margin: 0px;
    background-color: $bg-color;
}

label {
    color: $label-color;
}

.ci-text {
    background-image: linear-gradient(12deg, #0ef0ff, #ff04ec);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
