$info-color: lightblue;
$error-color: red;
$warning-color: orange;
$success-color: #3ae697;
$bg-color: #f7f7f7;
$label-color: #aaaaaa;

$breakpoint-mobile: 600px;
$breakpoint-desktop: 1024px;
$breakpoint-medium: 1279px;
