<ng-container *ngIf="(image$ | async) as image">
    <ng-container *ngIf="(format$ | async) as format">
        <div #drag appDraggable (translate)="moveImage($event)" [isDragging]="drag.isDragging">
            <image-cropper 
            [roundCropper]="format.round"
            [aspectRatio]="format.width / format.height"
            (imageCropped)="crop($event)"
            [transform]="transform$ | async"
            [cropper]="image?.cropperData?.cropperPosition"
            (fileChangeEvent)="crop($event)"
            [imageBase64]="image.source"
            [isDragging]="drag.isDragging"
            >
            </image-cropper>
         </div>
    
        <app-settings></app-settings>
    </ng-container>
</ng-container>

